html, body {
  font-family: 'Open Sans' sans-serif;
  font-weight: 200;
  color: #5d5d5d;
  font-size: 16px;
  background-color: #fefefe;
  height: 100%;
}
.birds {
  position: fixed;
  height: 100%; 
  top: 0;
  left: 0;
  width: 20%;
  background-image: url('../birds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 1px solid #7F7E7E;
}
pre,
code {
  font-family: 'Source Code Pro' monospace;
  font-size: 0.96em;
}
pre {
  border-left: 2px solid #abe3e3;
  padding-left: 10px;
}
.container {
  width: 700px;
  padding-bottom: 200px;
  padding-left: 200px;
  margin: 0 auto;
}
a {
  color: #00acbe;
  cursor: pointer;
}
a:hover {
  color: #bbd7da;
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  color: #6e6e6e;
  font-weight: 400;
}
h1 {
  font-weight: 400;
  font-size: 80px;
  text-align: left;
  margin: 0.7em 0 1.6em -10px;
  position: relative;
}
h1 i {
  margin-right: 0.1em;
  color: #00acbe;
}
h1 span {
  position: absolute;
  font-size: 0.23em;
  font-family: 'Open Sans' sans-serif;
  letter-spacing: 0.1em;
  font-weight: 200;
  top: 130px;
  left: 130px;
}
h2 {
  font-weight: 400;
  font-size: 2.4em;
  margin-top: 2em;
}
h3 {
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 3em;
}
h4 {
  font-size: 1.2em;
}
.math {
  color: #636363;
}
p,
ul {
  line-height: 1.8em;
}
.emphasis {
  font-weight: 400;
}
